Powermail HTML Template for multiple pages

Show pagebrowser:									###POWERMAIL_PAGEBROWSER###
Show link to last page:								###POWERMAIL_BACKLINK###
Show link to next page:								###POWERMAIL_FORWARDLINK###
Displaying any value from pi1/locallang.xml:		###POWERMAIL_LOCALLANG_MYFIELD### (###POWERMAIL_LOCALLANG_$field###)

<!-- ###POWERMAIL_MULTIPLE_ALL### begin -->
	<div class="tx-powermail-pi1_multiple">
		###POWERMAIL_PAGEBROWSER###
		###POWERMAIL_CONTENT###
		<br />
		###POWERMAIL_BACKLINK###
		###POWERMAIL_FORWARDLINK###
	</div>
<!-- ###POWERMAIL_MULTIPLE_ALL### end -->