Powermail HTML Template if you want to use the marker ###POWERMAIL_ALL##, this HTML template wraps each line of it


<!-- ###POWERMAIL_ALL### begin -->
	<table class="powermail_all powermail_all_table">
		<!-- ###CONTENT### --><!-- ###ITEM### -->
			<tr class="powermail_all powermail_all_tr">
				<td class="powermail_all powermail_all_td" valign="top"><b>###POWERMAIL_LABEL###</b></td> 
				<td class="powermail_all powermail_all_td" valign="top">###POWERMAIL_VALUE###</td>
			</tr>
		<!-- ###ITEM### --><!-- ###CONTENT### -->
	</table>
<!-- ###POWERMAIL_ALL### end -->