Powermail_frontend HTML Template for list view

	--- MAIN MARKERS FOR LIST VIEW ---
	Available markers inside ITEM subparts:
	###POWERMAILFE_ALL###					Automatic marker with all needed fields (see tmpl_all.html)
	###UID23###								Value of field uid23
	###UID23_1###							Subvalue of field uid23_1 (maybe a second checkbox)
	###LABEL_UID23###						Label to uid23
	
	--- GENERAL MARKERS ---
	Displaying any value from pi1/locallang.xml:		###POWERMAILFE_LL_YOURFIELD### (Could be filled via locallang.xml or typoscript - see manual for details)
	Displaying any value from typoscript:				###POWERMAILFE_TS_YOURFIELD### (Could be filled via typoscript - see manual for details)
	
	
<!-- ###POWERMAILFE_LIST### begin -->
	<div class="powermailfe_list">
		<!-- ###CONTENT### --><!-- ###ITEM### -->
			<div class="powermailfe_listitem">###POWERMAILFE_ALL###</div>
		<!-- ###ITEM### --><!-- ###CONTENT### -->
	</div>
<!-- ###POWERMAILFE_LIST### end -->