Powermail HTML Template for email: Mail to receiver

For displaying complete content: 					###POWERMAIL_ALL###
Use special marker: 								###UID55###
Displaying any value from pi1/locallang.xml:		###POWERMAIL_LOCALLANG_MYFIELD### (###POWERMAIL_LOCALLANG_$field###)
Absolute path to your fileadmin path:				###POWERMAIL_BASEURL### (http://www.test.com/)

<!--###POWERMAIL_RECIPIENT_MAIL### start-->
	<p>
		###POWERMAIL_LOCALLANG_EMAIL_RECEIVER###<br />
		###POWERMAIL_ALL###
	</p>
<!--###POWERMAIL_RECIPIENT_MAIL### stop-->





Powermail HTML Template for email: Mail to receiver

For displaying complete content: 					###POWERMAIL_ALL###
Use special marker: 								###UID55###
Displaying any value from pi1/locallang.xml:		###POWERMAIL_LOCALLANG_MYFIELD### (###POWERMAIL_LOCALLANG_$field###)
Absolute path to your fileadmin path:				###POWERMAIL_BASEURL### (http://www.test.com/)

<!--###POWERMAIL_SENDER_MAIL### start-->
	<p>
		###POWERMAIL_LOCALLANG_EMAIL_SENDER###<br />
		###POWERMAIL_ALL###
	</p>
<!--###POWERMAIL_SENDER_MAIL### stop-->