Powermail HTML Template mandatory, if fields where not filled

For displaying complete content: 					###POWERMAIL_ALL###
Use special marker of any sent value: 				###UID5###
Displaying any value from pi1/locallang.xml:		###POWERMAIL_LOCALLANG_MYFIELD### (###POWERMAIL_LOCALLANG_$field###)


<!-- ###POWERMAIL_MANDATORY_ALL### begin -->
	<div class="tx-powermail-pi1_mandatory">
		<strong>###POWERMAIL_LOCALLANG_MANDATORY_MESSAGE###</strong><br />
		
		<ul>
		<!-- ###CONTENT### --><!-- ###ITEM### -->
			<li><span style="color: red;">###POWERMAIL_MANDATORY_LABEL###</span></li>
		<!-- ###ITEM### --><!-- ###CONTENT### -->
		</ul>
		
		<form name="###POWERMAIL_NAME###" action="###POWERMAIL_TARGET###" method="###POWERMAIL_METHOD###">
			<input type="submit" value="###POWERMAIL_LOCALLANG_MANDATORY_SUBMIT###" class="tx-powermail-pi1_mandatory_submit">
		</form>
	</div>
<!-- ###POWERMAIL_MANDATORY_ALL### end -->